body {
    overflow-x: hidden !important;
}

.containerAS{
    display: flex;
    flex-direction: row;
    background: #EDF8FD;
    width: 1500.32px;
    height: 600px;
    left: 34.67px;
    top: 240.97px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 52px;
    color: #2545F8;
}

.col1{
    width:15%;
    overflow: scroll;
    background: #EDF8FD;
}

.col2{
    width: 90%;
}

 .lefta{
    padding-top: 50px;
    margin-bottom: 20px;
    width: 95%;
    left: 20px;
    height: 20%;
    padding-right: 0rem;  
    padding-top: 8rem;
    
}

 .righta{
    width: 100%;
    padding-left: 50%;
    
    min-height: auto;
    top: 50px;
    
 }
 

.submita{
    position: absolute;
    width: 10%;
    right:20%;
    bottom: 8%;
}
