/* @import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  font-size: small;
}

.checkin-form {
  min-height: 80vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.check-header {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

li {
  float: left;
}

.side-icon {
  float: right;
}

li a {
  display: block;
  color: #4763FD;
  text-align: center;
  text-decoration: none;
}

.container-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px black solid; */
  height: 500px;
}

.left-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 1px black solid; */
  width: 50%;
  height: 100%;
}

.left-up {
  padding: 10px;
  /* border: 1px black solid; */
  border-radius: 5px;
  width: 95%;
  height: 38%;
  background-color: #EDF8FD;
}

.customlabel {
  padding: 3px;
  margin: 1.4px;
  color: black;
}

.custominputs {
  padding: 3px;
  margin: 1.4px;
  color: #4763FD;
  border-radius: 8px;
  border: 1px rgba(255, 255, 255, 0) solid;
  background-color: #D9DFE1;
}

.customtextarea {
  color: #4763FD;
  border-radius: 8px;
  border: 1px rgba(255, 255, 255, 0) solid;
  background-color: #D9DFE1;
}

#guest-name {
  width: 110px;
}

#dropdowns {
  width: 40px;
}

.left-below {
  /* border: 1px black solid; */
  padding: 10px;
  /* margin: 10px; */
  width: 95%;
  height: 51%;
  border-radius: 5px;
  background-color: #EDF8FD;
}

.right-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px black solid; */
  width: 50%;
}

.right-buttons {
  float: right;
  /* border: 1px black solid; */
  margin-bottom: 5px;
  height: 40%;
}

.right-content {
  /* border: 1px black solid; */
  border-radius: 3px;
  padding: 10px;
  /* margin: 10px; */
  width: 95%;
  height: 60%;
  border-radius: 5px;
  background-color: #EDF8FD;
}

#address {
  width: 100px;
  height: 100px;
}

.india {
  display: none;
}

/* .other{
  display: none;
} */

.submission {
  display: flex;
  flex-direction: row;
}

.sub {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#book-btn {
  width: 200px;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0) solid;
  margin: 10px;
  color: #4763FD;
  background-color: #D9DFE1;
}

.custombutton a {
  text-decoration: none;
}

#meal {
  width: 100px;
}

#meal:hover {
  background-color: #878b8d;
}