* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.columnA-a {
    float: left;
    width: 45%;
    padding: 10px;
    margin-top: -20px;
    box-sizing: border-box;
    background: #EDF8FD;
    border: 1.20468px solid #EDF8FD;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 35px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.1rem;
    color: #000000;
}

.columnA-b {
    float: left;
    width: 45%;
    padding: 10px;
    margin-top: -20px;
    box-sizing: border-box;
    background: #EDF8FD;
    border: 1.20468px solid #EDF8FD;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 35px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.1rem;
    color: #000000;
}

/* Clear floats after the columns */
.rowA:after {
    content: "";
    display: table;
    clear: both;
}

.descA {
    width: 100%;
    border-collapse: collapse;
}

.dataA {
    width: 100%;
}

.checkA {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #4763FD;
    margin-left: 40px;
}

.headingA {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
    color: #4763FD;
    margin-top: -10px;
}

.descA {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 36px;
    font-weight: bolder;
    color: #4763FD;

}

.dataA {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19.275px;
    line-height: 29px;
    color: #000000;
}

table,
th,
td {
    border: 1px solid white;
}

td {

    text-align: center;
}

.bg-columnA {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19.275px;
    line-height: 29px;
    color: #000000;
}

.cash-signA {
    padding: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24.0937px;
    line-height: 36px;
    color: #4763FD;

}

.agreeA {
    padding: 20px;
    margin-left: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19.275px;
    line-height: 23px;
    color: #000000;
}
